  .container2 {
        width: 95%;
        margin: 30px 20px 0px;

    }

 .container{
 	margin: 30px 20px 0px;
 }

.container_donacion {
	width: 95%;
        margin: 10px 20px 0px;
}

/*#last {
	margin: 30px 0px 0px 0px;
}

.row{
	margin: 30px 0px 0px;
	
}*/

.page-footer
{
	margin:20px;
}

.header{
	margin: 30px;
}

input:invalid {
  box-shadow: 0 0 5px 1px red;
}

