.wrapper{
	background-size: 100%;
	width: 100%;
	height: 100%;
	min-width: 900px;
}

.form_box{
	position: relative;
	margin-right: auto;
	margin-left: auto;
	top: 20px;  /*lo lejos que esta del top of the page*/
	width: 50%;
	background-color: #ffffff;
	border: 1px solid #EDEDED;
	border-radius: 7px;
	padding: 5px;
	opacity: 0.98;
	margin-bottom: 133px;
}

.form_box1{
	position: relative;
	margin-right: auto;
	margin-left: auto;
	top: 20px;  /*lo lejos que esta del top of the page*/
	width: 34%;
	background-color: #ffffff;
	border: 1px solid #EDEDED;
	border-radius: 7px;
	padding: 5px;
	opacity: 0.98;
	margin-bottom: 133px;
}

#second{
	display: none;
}