.containerFix{
    background-color: rgba(12,13,13,0.2);
    padding: 10px;
    border-radius: 2%;
}

.w-form-formradioinput--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-left-width: 4px;
  border-right-width: 4px;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: bold;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: bold;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Libre Franklin', sans-serif;
  color: #000;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Libre Franklin', sans-serif;
  color: #000;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: bold;
}

p {
  margin-bottom: 10px;
}

ul {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 40px;
}

ol {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 40px;
}

li {
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: 'IBM Plex Mono', sans-serif;
  color: #000;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

img {
  display: inline-block;
  max-width: 100%;
}

blockquote {
  margin-bottom: 10px;
  padding: 10px 20px;
  border-color: #5ab963 #5ab963 #5ab963 #e6e6e6;
  border-left-style: solid;
  border-left-width: 5px;
  font-family: 'IBM Plex Mono', sans-serif;
  color: #000;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

figcaption {
  margin-top: 5px;
  text-align: center;
}

.navigation {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.navigation-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 90px;
  max-width: 200%;
  margin-right: 0px;
  margin-left: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 595px;
  margin-top: -92px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding: 210px 30px 124px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/4124985-min.jpg');
  background-position: 0px 0px;
  background-size: 100% 100%;
  opacity: 1;
  background-clip: border-box;
}

.navigation-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation-link {
  margin-right: 15px;
  margin-left: 15px;
  font-family: 'Libre Franklin', sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  text-decoration: none;
}

.bullet {
  width: 4px;
  height: 4px;
  margin-right: 15px;
  margin-left: 15px;
  border-radius: 50%;
  background-color: #fff;
}

.navigation-button {
  display: block;
  margin-right: -6px;
  margin-left: 15px;
  padding-right: 14px;
  border: 2px solid #fff;
  border-radius: 4px;
  background-color: transparent;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-transition: background-color 200ms ease, color 200ms ease;
  transition: background-color 200ms ease, color 200ms ease;
  font-family: 'Libre Franklin', sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
}

.navigation-button:hover {
  background-color: #fff;
  color: #000;
}

.header-content {
  position: static;
  display: block;
  width: 50%;
  height: 120%;
  max-height: 200%;
  max-width: 76%;
  margin-top: -181px;
  margin-bottom: -73px;
  margin-left: -3px;
  padding-top: 8px;
  padding-right: 10px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  border-style: none;
  border-width: 4px;
  border-color: #f9fcfb;
  border-radius: 0px;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  text-align: center;
}

.h1 {
  width: 65%;
  height: 25%;
  margin: 48px auto 25px;
  padding: 16px 29px 6px 0px;
  opacity: 1;
  font-family: Exo, sans-serif;
  color: #fff;
  font-size: 400%;
  line-height: 78%;
  font-weight: 800;
  text-align: center;
  letter-spacing: -1px;
}

.h1.cc-black {
  margin-top: 15px;
  margin-bottom: 60px;
  color: #000;
  text-align: center;
}

.paragraph {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: 10%;
  margin-top: -22px;
  margin-bottom: 22px;
  margin-left: 6px;
  padding: 22px 0px 17px 43px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 120%;
  line-height: 100%;
  font-weight: 500;
  text-align: center;
  -o-object-fit: fill;
  object-fit: fill;
}

.paragraph.cc-gray {
  color: #999;
  text-align: left;
}

.button {
  margin-top: 50px;
  padding: 14px 30px 15px;
  border-radius: 4px;
  background-color: #5ab963;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  font-family: 'Libre Franklin', sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 30px;
  font-weight: 800;
}

.button:hover {
  background-color: #48944f;
}

.button.cc-cta {
  margin-top: 0px;
}

.button.cc-banner {
  background-color: #fff;
  color: #000;
}

.button.cc-banner:hover {
  background-color: #e6e6e6;
}

.container {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  height: 417%;
  max-width: 1170px;
  margin-top: -76px;
  margin-right: -57px;
  margin-bottom: 127px;
  padding-right: 116px;
  padding-bottom: 0px;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.container.cc-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 29px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container.cc-cta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.container.cc-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.container.cc-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container.cc-blogpost {
  display: block;
  max-width: 770px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container.cc-contact {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.features {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 120px 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.h2 {
  margin-top: -86px;
  margin-bottom: 0px;
  padding-top: 0px;
  font-family: 'Libre Franklin', sans-serif;
  color: #b3b3b3;
  font-size: 24px;
  line-height: 36px;
  font-weight: 300;
}

.h2.cc-center {
  margin-bottom: 40px;
}

.h2.cc-2-rows {
  margin-bottom: 25px;
}

.h2.cc-white-text {
  color: #fff;
}

.h2.text-span.cc-post-text {
  margin-bottom: 15px;
}

.h2-container {
  width: 50%;
  margin-bottom: 90px;
}

.h2-container.cc-center {
  width: 65%;
  margin-bottom: 0px;
  text-align: center;
}

.h2-container.cc-questions {
  margin-bottom: 60px;
}

.text-span {
  color: #000;
  font-weight: 800;
}

.text-span.cc-white-text {
  color: #fff;
}

.feature-item-container {
  height: 330px;
  padding: 50px 40px;
  border: 1px solid #f7f7f7;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05);
  -webkit-transition: box-shadow 200ms ease;
  transition: box-shadow 200ms ease;
}

.collection-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: -10px;
  margin-left: -10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.collection-list.cc-feature-row {
  margin-bottom: -20px;
}

.h3 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: 'Libre Franklin', sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 600;
}

.h3.cc-cta {
  margin-bottom: 0px;
  color: #5ab963;
}

.h3.cc-header {
  margin-bottom: 0px;
  color: #fff;
  text-decoration: none;
}

.h3.cc-pricing {
  width: 100%;
}

.h3.cc-team-title {
  width: 100%;
  margin-bottom: 0px;
}

.h3.cc-latest-posts {
  margin-bottom: 40px;
}

.slider-section {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 360px;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  background-color: #fafafa;
}

.slider {
  height: 720px;
  max-width: 1440px;
  margin-top: -360px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.slide {
  background-image: url('../images/image-slider-01.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-nav {
  font-size: 6px;
}

.icon {
  width: 30px;
  height: 30px;
}

.left-arrow {
  display: none;
}

.right-arrow {
  display: none;
}

.slide-2 {
  background-image: url('../images/image-slider-02.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-3 {
  background-image: url('../images/image-slider-03.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.about {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 101%;
  padding: 115px 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fafafa;
}

.link {
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: 'IBM Plex Mono', sans-serif;
  color: #5ab963;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}

.link:hover {
  color: #48944f;
}

.separator {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.separator.cc-background-grey {
  background-color: #fafafa;
}

.line-color {
  height: 1px;
  background-color: #e6e6e6;
}

.premium {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 120px 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fafafa;
}

.premium.cc-background {
  margin-bottom: -92px;
  padding-bottom: 0px;
  background-color: transparent;
}

._2-row-image.cc-bottom {
  margin-right: 0px;
}

._2-row-image.cc-row-spacing {
  margin-right: 100px;
}

._2-row-text {
  max-width: 370px;
  margin-right: 100px;
}

._2-row-text.cc-bottom {
  margin-right: 100px;
}

._2-row-text.cc-bottom.cc-reverse {
  margin-right: 0px;
  margin-left: 100px;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.row.cc-bottom {
  margin-top: 90px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.row.cc-bottom.cc-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.row.cc-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

._2-row-action-text {
  margin-top: 110px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.cta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 150px 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fafafa;
}

.cta-line {
  width: 30px;
  height: 2px;
  margin-left: 20px;
  background-color: #5ab963;
}

.cta-line.cc-header {
  background-color: #fff;
}

.cta-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.cta-left-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 30px 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #337a70;
}

.footer-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.footer-column.cc-footer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.text-footer-credits {
  margin-top: 15px;
  font-family: 'Libre Franklin', sans-serif;
  color: #fff;
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
}

.footer-links-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.link-footer {
  margin-bottom: 25px;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: 'Libre Franklin', sans-serif;
  color: #fff;
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
  text-decoration: none;
}

.link-footer:hover {
  color: hsla(0, 0%, 100%, 0.7);
}

.link-social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 15px;
  height: 15px;
  margin-right: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  margin-left: 200px;
  padding-right: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.collection-item {
  width: 33.33333333%;
  padding-right: 10px;
  padding-left: 10px;
}

.collection-item.cc-feature-row {
  width: 25%;
  margin-bottom: 20px;
}

.feature-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  height: 60px;
  margin-bottom: 25px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-button {
  display: none;
  width: 50px;
  height: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 28px;
  height: 28px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-icon-piece {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #000;
}

.nav-icon-piece.top {
  position: absolute;
  -webkit-transform: translate(0px, -8px);
  -ms-transform: translate(0px, -8px);
  transform: translate(0px, -8px);
}

.nav-icon-piece.bottom {
  position: absolute;
  -webkit-transform: translate(0px, 8px);
  -ms-transform: translate(0px, 8px);
  transform: translate(0px, 8px);
}

.header-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -90px;
  margin-bottom: -70px;
  margin-left: 0px;
  padding: 180px 30px 0px 29px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #185458;
  background-image: url('../images/volunteer-min.jpg');
  background-size: 100% 100%;
  background-clip: border-box;
  height: 100%;
}

.header-inner.cc-header-extra {
  padding-bottom: 210px;
}

.header-inner-content {
  width: 45%;
  margin-top: -41px;
  padding-right: 0px;
  background-color: rgba(114, 100, 59, 0.86);
  border-radius: 2%;
  position: inherit;
}

.inner-category {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.premium-banner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  max-height: 720px;
  padding: 120px 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/image-premium-banner.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.premium-banner-inner {
  max-width: 370px;
  padding: 60px 50px;
  background-color: #5ab963;
}

.premium-intro {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 120px 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.premium-image-banner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  max-height: 720px;
  max-width: 1440px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.premium-image-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1170px;
  margin-top: -60px;
  margin-bottom: 120px;
  padding: 40px 60px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #f7f7f7;
  background-color: #fff;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05);
}

.image-banner {
  margin-right: 60px;
}

.container-quote {
  width: 70%;
  text-align: center;
}

.block-quote {
  border-left: 0px none transparent;
  font-family: 'Libre Franklin', sans-serif;
  color: #5ab963;
  font-size: 24px;
  line-height: 36px;
  font-weight: 300;
}

.author {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.text-block {
  margin-left: 20px;
  font-family: 'IBM Plex Mono', sans-serif;
  color: #000;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.container-pricing {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: -10px;
  margin-left: -10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.pricing-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 33.33333333%;
  margin-right: 10px;
  margin-left: 10px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  border: 1px solid #f7f7f7;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05);
  -webkit-transition: box-shadow 200ms ease;
  transition: box-shadow 200ms ease;
}

.pricing-block:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.14);
}

.price {
  font-family: 'Libre Franklin', sans-serif;
  color: #000;
  font-size: 72px;
  line-height: 78px;
  font-weight: 800;
}

.price-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.currency {
  margin-top: 40px;
  margin-left: 10px;
  font-family: 'IBM Plex Mono', sans-serif;
  color: #999;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.small-text {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'IBM Plex Mono', sans-serif;
  color: #000;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.small-text.cc-light {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #999;
}

.pricing-block-separator {
  width: 100%;
  height: 1px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #5ab963;
}

.pricing-info {
  padding: 50px 40px 40px;
}

.button-pricing {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #5ab963;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  font-family: 'Libre Franklin', sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 30px;
  font-weight: 800;
}

.button-pricing:hover {
  background-color: #48944f;
}

.container-facts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: -10px;
  margin-left: -10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.facts {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.fact-block {
  padding: 50px 40px;
  border: 1px solid #f7f7f7;
  background-color: #fff;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05);
}

.image-2 {
  margin-bottom: 20px;
}

.facts-gray-background {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 70%;
  background-color: #fafafa;
}

.faq {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 120px 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fafafa;
}

.faq1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fafafa;
}

.container-questions {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: -30px -10px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.question-block {
  width: 50%;
  margin: 30px 50px 30px 10px;
}

.container-facts-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  padding-right: 10px;
  padding-left: 10px;
}

.header-banner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -120px;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.about-intro {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 115px 30px 75px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.goals-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: -10px;
  margin-left: -10px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.goals-container-inner {
  width: 33.33333333%;
  margin-right: 10px;
  margin-left: 10px;
}

.team {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 120px 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.collection-list-2 {
  margin: -10px;
}

.team-member {
  padding-top: 10px;
  padding-bottom: 10px;
}

.team-inner-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05);
}

.team-avatar {
  width: 100%;
  height: 100%;
}

.team-member-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px 30px 10px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.our-goals {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 120px 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.blog-posts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -120px;
  margin-bottom: 120px;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.blog-posts-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 33.33333333%;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.post-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: -10px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.blog-posts-item-container {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  background-color: #fff;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05);
  text-decoration: none;
}

.post-info {
  padding: 30px;
}

.post-date {
  margin-bottom: 10px;
  font-family: 'IBM Plex Mono', sans-serif;
  color: #000;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.header-blog {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -90px;
  padding-top: 90px;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-image {
  position: relative;
  z-index: 1;
  max-height: 750px;
  max-width: 1440px;
}

.header-color {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 75%;
  background-color: #5ab963;
}

.content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 90px 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact-intro {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 120px 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.contact-info {
  width: 50%;
  margin-top: -10px;
  margin-bottom: -10px;
}

.contact-info-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.contact-info-text {
  width: 25%;
  font-family: 'IBM Plex Mono', sans-serif;
  color: #999;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.contact-info-text.cc-text-black {
  width: auto;
  color: #000;
}

.form-input {
  width: 50%;
  margin-top: -10px;
  margin-bottom: -10px;
}

.text-field {
  height: 60px;
  padding-right: 0px;
  padding-left: 0px;
  border-style: none none solid;
  border-width: 1px;
  border-color: #000 #000 #e6e6e6;
  font-family: 'IBM Plex Mono', sans-serif;
  color: #b3b3b3;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.text-field:hover {
  border-bottom-color: #000;
}

.text-field:active {
  color: #000;
}

.text-field:focus {
  border-bottom-color: #000;
  color: #000;
}

.text-field::-webkit-input-placeholder {
  color: #b3b3b3;
}

.text-field:-ms-input-placeholder {
  color: #b3b3b3;
}

.text-field::-ms-input-placeholder {
  color: #b3b3b3;
}

.text-field::placeholder {
  color: #b3b3b3;
}

.rich-text {
  font-family: 'IBM Plex Mono', sans-serif;
  color: #000;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
}

.rich-text h2 {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 24px;
  font-weight: 800;
}

.rich-text p {
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: 'IBM Plex Mono', sans-serif;
  color: #000;
  font-size: 14px;
  line-height: 24px;
}

.rich-text img {
  margin-top: 30px;
  margin-bottom: 30px;
}

.rich-text figcaption {
  margin-top: 0px;
  margin-bottom: 25px;
  font-family: 'Libre Franklin', sans-serif;
  color: #777;
  font-size: 12px;
  line-height: 20px;
  text-align: left;
}

.logo {
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo.w--current {
  background-image: url('../images/all-x-all.png');
  background-position: 0px 0px;
  background-size: auto;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-link {
  border: 1px none #000;
  font-family: 'Libre Franklin', sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
}

.nav-link.w--current {
  color: #fff;
}

.latest-posts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 90px 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.style-guide-label {
  margin-bottom: 20px;
  padding-bottom: 10px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-bottom: 1px solid #777;
  color: #777;
  font-size: 13px;
  line-height: 14px;
}

.image-licensing {
  padding: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.05);
  line-height: 24px;
}

.nav-link-2 {
  font-family: 'Libre Franklin', sans-serif;
  color: #fff;
  font-weight: 600;
}

.button-2 {
  border-style: solid;
  border-width: 3px;
  border-color: #fff;
  border-radius: 4px;
  background-color: transparent;
}

.text-block-2 {
  font-family: 'Libre Franklin', sans-serif;
  color: #fff;
  font-weight: 600;
}

.icon-3 {
  font-family: 'Libre Franklin', sans-serif;
  color: #fff;
  font-weight: 600;
}

.feature-section {
  margin-top: -99px;
  margin-bottom: 124px;
  padding-top: 200px;
  padding-bottom: 0px;
}

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -54px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.feature-image-mask {
  width: 100%;
  margin-right: 40px;
}

.feature-image {
  width: 150%;
  height: 100%;
  max-width: 150%;
  margin-top: -54px;
  margin-left: 29px;
  padding-left: 0px;
  background-color: transparent;
  background-image: url('../images/18923-min.jpg');
  background-position: 0px 0px;
  background-size: auto;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.column {
  margin-right: auto;
  margin-left: auto;
}

.hero-overlay {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 90vh;
  max-height: 780px;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0px 0px, 50% 50%;
  color: #fff;
}

.centered-container {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.columns {
  margin-left: -16px;
  padding-left: 22px;
}

.column-2 {
  display: block;
}

.feature-section-2 {
  max-height: none;
  margin-left: -54px;
  padding-top: 85px;
  padding-bottom: 200px;
  padding-left: 0px;
  background-color: #ddcbcb;
}

.flex-container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 90%;
  padding-left: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  -o-object-fit: fill;
  object-fit: fill;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.paragraph-2 {
  width: 75%;
  max-width: 95%;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 400;
  text-align: justify;
}

.paragraph-3 {
  width: 75%;
  max-width: 95%;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 400;
  text-align: justify;
}

.div-block {
  position: static;
  height: 80%;
  max-height: 322px;
  max-width: 60%;
  padding-left: 51px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.feature-section-3 {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #b8b487;
}

.flex-container-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 90%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.feature-image-2 {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.div-block-2 {
  width: 130%;
  margin-right: auto;
  margin-left: auto;
}

.paragraph-4 {
  width: 100%;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 400;
}

.paragraph-5 {
  width: 100%;
  font-family: 'Libre Franklin', sans-serif;
}

.button-3 {
  margin: -51px auto 19px 149px;
  padding-top: 10px;
  padding-bottom: 11px;
  border: 2px solid #fff;
  border-radius: 4px;
  background-color: transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: opacity 200ms ease, background-color 200ms ease;
  transition: opacity 200ms ease, background-color 200ms ease;
  white-space: normal;
}

.container-2 {
  max-height: 100%;
  max-width: 100%;
}

.column-3 {
  background-color: #238f89;
}

.column-4 {
  background-color: #cc6d6d;
}

.heading {
  margin-right: auto;
  margin-left: auto;
  color: #fff;
  text-align: center;
}

.heading-2 {
  color: #fff;
  text-align: center;
}

.paragraph-6 {
  width: 90%;
  color: #fffdfd;
  text-align: center;
}

.paragraph-7 {
  width: 90%;
  margin-left: 35px;
  padding-right: 0px;
  color: #fff;
  font-size: 16px;
  text-align: center;
}

.link-2 {
  color: #fff;
  font-size: 100%;
  text-decoration: none;
}

.link-2:hover {
  color: #635b5b;
}

.link-3 {
  color: #fff;
  text-decoration: none;
}

.link-3:hover {
  color: #524c4c;
}

.hero {
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  padding-bottom: 59px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-container-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -41px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.hero-image-mask {
  width: 100%;
  margin-left: 40px;
}

.hero-image {
  width: 100%;
  height: 100%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0.5 auto;
  -ms-flex: 0 0.5 auto;
  flex: 0 0.5 auto;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.paragraph-8 {
  font-size: 20px;
}

.heading-3 {
  width: 100%;
  height: 42%;
  padding-top: 0px;
  font-size: 250%;
  line-height: 100%;
  text-align: left;
}

.button-4 {
  margin-left: 149px;
  border-radius: 5px;
  background-color: #337a70;
}

.button-4:hover {
  background-color: #4d5755;
}

.nav-link-3 {
  font-family: 'Libre Franklin', sans-serif;
  color: #fff;
  font-weight: 600;
}

.button-5 {
  margin-top: -60px;
  margin-bottom: 22px;
  margin-left: 45%;
  border: 2px solid #fff;
  border-radius: 4px;
  background-color: transparent;
}

.heading-4 {
  margin-bottom: 35px;
}

.subscribe-form {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #beb47c;
}

.subscribe-form-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.subscribe-form-input-wrapper {
  text-align: left;
}

.subscribe-form-input {
  margin-bottom: 0px;
}

.contact-form {
  padding-top: 14px;
  padding-bottom: 35px;
}

.contact-form-grid {
  display: -ms-grid;
  display: grid;
  margin-top: 40px;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.main-content {
  padding-top: 13px;
  padding-bottom: 29px;
  background-color: #cc6d6d;
  background-image: url('../images/18923-min.jpg');
  background-position: 0px 0px;
  background-size: auto;
}

.submit-button {
  background-color: #276356;
}

.feature-section-4 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.flex-container-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -95px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.div-block-4 {
  width: 100%;
  height: 100%;
}

.hero-2 {
  display: block;
  margin-top: 70px;
  margin-bottom: -73px;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.paragraph-9 {
  width: 130%;
  height: 54%;
}

@media screen and (max-width: 991px) {
  .navigation {
    z-index: 999;
    padding-right: 10px;
  }
  .header {
    padding-right: 60px;
    padding-left: 60px;
  }
  .bullet {
    display: none;
  }
  .navigation-button {
    width: 75%;
    margin: 20px 30px;
  }
  .container.cc-contact {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .h2-container {
    width: 80%;
  }
  .h2-container.cc-center {
    width: 80%;
  }
  .feature-item-container {
    height: auto;
  }
  .collection-list {
    margin-right: -5px;
    margin-left: -5px;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .slider-section {
    margin-top: 240px;
  }
  .slider {
    height: 480px;
    margin-top: -240px;
  }
  ._2-row-image {
    max-width: 50%;
    margin-right: 30px;
  }
  ._2-row-image.cc-row-spacing {
    margin-right: 50px;
  }
  ._2-row-image.cc-row-reverse {
    margin-right: 0px;
  }
  ._2-row-text {
    margin-right: 0px;
  }
  ._2-row-text.cc-bottom {
    margin-right: 50px;
  }
  ._2-row-text.cc-bottom.cc-reverse {
    margin-left: 50px;
  }
  ._2-row-text.cc-row-reverse {
    margin-right: 50px;
  }
  .collection-item {
    width: 33.33333333%;
    padding-right: 5px;
    padding-left: 5px;
  }
  .collection-item.cc-feature-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
  }
/*  .header-inner-content {
    width: 80%;
  } */
  .premium-image-container {
    margin-top: 0px;
  }
  .container-quote {
    width: 100%;
  }
  .container-pricing {
    margin-top: -10px;
    margin-bottom: -10px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .pricing-block {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
  }
  .container-facts {
    margin: -10px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
  }
  .fact-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .container-facts-inner {
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .team {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .collection-list-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .team-member {
    width: 33.33333333%;
  }
  .blog-posts-item {
    width: 50%;
  }
  .header-color {
    height: 85%;
  }
  .contact-intro {
    padding-bottom: 110px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .contact-info {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .form-input {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 0px;
  }
  .nav-menu {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #5ab963;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
  }
  .nav-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .icon-2 {
    color: #fff;
    font-size: 32px;
  }
  .menu-button:active {
    background-color: #5ab963;
  }
  .menu-button.w--open {
    background-color: #5ab963;
  }
}

@media screen and (max-width: 767px) {
  .header {
    height: 600px;
    padding-right: 30px;
    padding-left: 30px;
  }
  .navigation-links {
    display: none;
  }
  .h1 {
    font-size: 48px;
    line-height: 54px;
  }
  .h1.cc-black {
    margin-bottom: 50px;
  }
  .container.cc-cta {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .container.cc-footer {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .features {
    padding-top: 60px;
  }
  .h2-container {
    width: 100%;
    margin-bottom: 60px;
  }
  .h2-container.cc-center {
    width: 100%;
  }
  .feature-item-container {
    height: auto;
  }
  .collection-list {
    margin: -10px 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .slider-section {
    margin-top: 150px;
  }
  .slider {
    height: 300px;
    margin-top: -150px;
  }
  .about {
    padding-top: 55px;
    padding-bottom: 55px;
  }
  .premium {
    padding-top: 60px;
    padding-bottom: 90px;
  }
  ._2-row-image {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    margin-right: 0px;
    margin-bottom: 60px;
  }
  ._2-row-image.cc-row-spacing {
    margin-right: 0px;
  }
  ._2-row-text {
    margin-right: 0px;
  }
  ._2-row-text.cc-bottom {
    margin-right: 0px;
  }
  ._2-row-text.cc-bottom.cc-reverse {
    margin-left: 0px;
  }
  ._2-row-text.cc-row-reverse {
    margin-right: 0px;
  }
  .row {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  ._2-row-action-text {
    margin-top: 50px;
  }
  .cta {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .cta-column {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .footer-column {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .footer-column.cc-footer {
    width: 100%;
  }
  .collection-item {
    width: 100%;
    margin: 10px 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .collection-item.cc-feature-row {
    width: 100%;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .nav-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-icon-piece {
    background-color: #fff;
  }
  .nav-icon-piece.top {
    background-color: #fff;
  }
  .collection-list-wrapper.cc-feature-row {
    margin-bottom: -60px;
  }
  .header-inner {
    padding-top: 150px;
    padding-bottom: 60px;
  }
  .header-inner.cc-header-extra {
    padding-bottom: 180px;
  }
  /*.header-inner-content {
    width: 100%;
  }*/
  .premium-intro {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .premium-image-container {
    margin-bottom: 90px;
  }
  .about-intro {
    padding-top: 85px;
    padding-bottom: 45px;
  }
  .goals-container {
    margin-top: -15px;
    margin-bottom: -25px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .goals-container-inner {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .team-member {
    width: 50%;
  }
  .our-goals {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .blog-posts-item {
    width: 100%;
  }
  .header-color {
    height: 85%;
  }
  .content {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .contact-intro {
    padding-top: 90px;
    padding-bottom: 80px;
  }
  .contact-info-row {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .contact-info-text {
    width: 100%;
  }
  .menu-button:active {
    background-color: transparent;
  }
  .feature-section {
    padding: 40px 20px;
  }
  .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .feature-image-mask {
    margin-right: 0px;
  }
  .feature-image {
    margin-right: auto;
    margin-left: auto;
  }
  .hero-overlay {
    padding: 40px 20px;
  }
  .feature-section-2 {
    padding: 40px 20px;
  }
  .flex-container-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .feature-section-3 {
    padding: 40px 20px;
  }
  .flex-container-3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .feature-image-2 {
    margin-right: auto;
    margin-left: auto;
  }
  .hero {
    padding: 40px 20px;
  }
  .flex-container-4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .hero-image-mask {
    margin-right: 0px;
    margin-left: 0px;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  .subscribe-form {
    padding: 40px 20px;
  }
  .contact-form {
    padding: 40px 20px;
  }
  .main-content {
    padding: 40px 20px;
  }
  .feature-section-4 {
    padding: 40px 20px;
  }
  .flex-container-5 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .hero-2 {
    padding: 40px 20px;
  }
}

@media screen and (max-width: 479px) {
  .navigation-container {
    height: 60px;
  }
  .header {
    height: 100vh;
    margin-top: -60px;
    padding-top: 120px;
    padding-bottom: 60px;
  }
  .header-content {
    margin-right: 25px;
  }
  .h1 {
    margin-left: -22px;
    padding-top: 70px;
    padding-left: 0px;
    font-size: 30px;
    line-height: 42px;
    letter-spacing: 0px;
  }
  .paragraph {
    width: 150%;
    padding-right: 51px;
    padding-left: 0px;
    font-size: 100%;
  }
  .h2 {
    font-size: 20px;
    line-height: 30px;
  }
  .slider-section {
    margin-top: 75px;
  }
  .slider {
    height: 150px;
    margin-top: -75px;
  }
  ._2-row-image {
    margin-bottom: 60px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  ._2-row-text {
    max-width: 100%;
    margin-right: 0px;
    margin-left: 0px;
  }
  ._2-row-text.cc-bottom {
    margin-right: 0px;
  }
  ._2-row-text.cc-bottom.cc-reverse {
    margin-left: 0px;
  }
  .row.cc-bottom {
    margin-top: 60px;
  }
  .footer-column {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .footer-links-list {
    width: 50%;
  }
  .footer-social {
    width: 50%;
  }
  .header-inner {
    margin-top: -60px;
    padding-top: 120px;
    padding-bottom: 60px;
  }
  .header-inner.cc-header-extra {
    padding-bottom: 150px;
  }
  .premium-banner {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .premium-banner-inner {
    padding-right: 30px;
    padding-left: 30px;
  }
  .premium-intro {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .premium-image-container {
    margin-bottom: 60px;
    padding-right: 30px;
    padding-left: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .image-banner {
    margin-right: 0px;
    margin-bottom: 30px;
  }
  .faq {
    padding-top: 90px;
    padding-bottom: 60px;
  }
  .container-questions {
    margin: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .question-block {
    width: 100%;
    margin: 15px 0px;
  }
  .container-facts-inner {
    width: 100%;
  }
  .team-member {
    width: 100%;
  }
  .blog-posts {
    margin-top: -90px;
    margin-bottom: 90px;
  }
  .header-color {
    height: 85%;
  }
  .contact-intro {
    padding-bottom: 80px;
  }
  .nav-menu {
    background-color: #376c77;
  }
  .menu-button:active {
    background-color: #3c8c8f;
  }
  .menu-button.w--open {
    background-color: #376c77;
  }
  .centered-container {
    text-align: left;
  }
  .paragraph-4 {
    width: 80%;
  }
  .button-4 {
    margin-right: 29px;
  }
  .button-5 {
    margin-left: 51px;
  }
  .heading-4 {
    margin-top: -32px;
    padding-bottom: 0px;
  }
  .subscribe-form-input-wrapper {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .subscribe-form-input {
    width: 100%;
  }
  .div-block-3 {
    margin-right: 200px;
    padding-right: 135px;
  }
  .image-3 {
    padding-top: 62px;
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 479px) {
  #w-node-02eeabe6facf-733a8758 {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
  #w-node-02eeabe6fad3-733a8758 {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
  #w-node-02eeabe6fad7-733a8758 {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
  #w-node-02eeabe6fadb-733a8758 {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
}

