form{
	text-align: center;
	padding-top: 5px;
}

.wrapper{
	background-image: url("../images/background/login-background.jpeg");
	background-size: 100%;
	width: 100%;
	height: 100%;
	min-width: 900px;
}

html, body {
	margin: 0;
	padding: 0;
    height: 100%;
    min-height: 100%;
}

.login_box{
	position: relative;
	margin-right: auto;
	margin-left: auto;
	top: 7%;  /*lo lejos que esta del top of the page*/
	width: 35%;
	background-color: #ffffff;
	border: 1px solid #EDEDED;
	border-radius: 7px;
	padding: 5px;
	opacity: 0.98;
}

.login_header{
	width: 100%;
	height: 90px;
	background-color: #3A9C95;
	color: white;
	text-align: center;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

.login_header h1 {
	margin-top: 0;
	margin-bottom: 0;
	color: white;
	text-shadow: gray 1.5px 1.5px 0px;
}

input {
	margin-bottom:5px;
}

input[type=text], input[type=email], input[type=password]{
	width: 300px;
}

#login, #registro {
	font-size: 14px;
}

#second{
	display: none;
}
